body{
    background: radial-gradient(#fff,#ffd6d6);
    margin: 20%;
}
img{
    display: block;
     margin-left: auto; 
     margin-right: auto;
      width: 50%;
}
h1{
    text-align: center;
    font-size: 90px;
    color: #ffcc5c;
}
h2{
    text-align: center;
    font-size: 40px;
    white-space: nowrap;
    
}
h3{
    text-align: center;
    font-size: 8vh;
}
h4,h5,h6{
    text-align: center;
    font-size:35px ;
    line-gap-override: 10px;
    
    
}
q{
    text-align: center;
    font: bolder;
    font-size: 40px;
    font-family: sans-serif;
    color: #8ffe09;
    white-space: nowrap;
    
}

p{
    text-align: center;
    color: red;
}
